*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
    padding: 0 10% 0 10% !important;
    z-index: 2000;
    position: fixed !important;
    background-color: white;

}

/***classlist to add shadow when you scroll the page down***/
.scrollDown{
    box-shadow: 0 3px 4px grey;
}


.logo{
    color: skyblue;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: gray;
    margin: 15px;
    transition: all .50s;
}

nav ul li a:hover{
    color: skyblue;
}

nav button{
    width: 120px;
    height: 35px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 6px 10px skyblue;
    cursor: pointer;
    transition: all .50s;
}

nav button:hover{
    box-shadow: 4px 9px 15px skyblue;
}

.menu-bar{
    display: none;
}

.bar{
    width: 25px;
    height: 4px;
    margin: 4px;
    background-color: skyblue;
    transition: all .50s;
}

.change .bar1{
    transform: translate(0, 11px)rotate(45deg);
}

.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: translate(0, -6px)rotate(-45deg);
}





/***media query to set hamburger icon to visible and nav links to none***/
@media(max-width:767px){
    nav ul{
        display: none;
    }

    .menu-bar{
        display: inline-block;
    }

}

@media(min-width:768px) {
    .dropdown-wrapper{
        display: none !important; 
    }
}


/***dropdown menu***/
.dropdown-wrapper{
    width: 100%;
    height: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .50s;
    position: fixed;
    z-index: 1000;
}

/***classlist to change dropdown height****/
.changeHeight{
    height: 360px;
}

.dropdown{
    background-color: white;
    margin-top: 130px;
    width: 100%;
    padding: 0 2px 0 0;
    display: none;
    z-index: 1000;
}

/***classlist to show links when menuCLicked***/
.showLinks{
    display: inline-block;
}

.dropdown-wrapper ul li{
    list-style: none;
    margin: 30px;
    text-align: center;
}

.dropdown-wrapper ul li a{
    text-decoration: none;
    color: grey;
    font-size: 25px;
    font-weight: 500;
    transition: all .50s;
}

.dropdown-wrapper ul li a:hover{
    color: skyblue;
}

.dropdown-wrapper .order-btn-mobile{
    width: 100%;
    height: 40px;
    background-color: skyblue;
    box-shadow: 4px 4px 8px skyblue;
    border: none;
    border: 10px;
    color: white;
    cursor: pointer;
}


/***home section***/
.phrase{
    color: skyblue;
    font-weight: 900;
}

#home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 0 20px 0 20px;
}

/**media query to switch grid to a 1:2 on smaller devices***/
@media(max-width:767px){
    .home-wrapper{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        padding: 0 20px 0 20px;
    }

    .home-title{
        font-size: 25px !important;
    }
}

.home-title{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
}


.description-wrapper{
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.item-description>div{
    margin: 20px;
}


.home-wrapper .order-btn button{
    width: 120px;
    height: 35px;
    background-color: skyblue;
    color: white;
    border: none;
    box-shadow: 4px 4px 5px skyblue;
    cursor: pointer;
    transition: all .50s;
}

.home-wrapper .order-btn button:hover{
    box-shadow: 6px 6px 9px skyblue;

}


.home-content{
    color: grey;
}

.item-image img{
    width: 100%;
    height: 100%;
}

/****feature section***/




.feature-cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-box{
    width: 100%;
    background-color: rgb(239, 239, 239);
}


.feature-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-title{
    font-size: 35px;
}


.feature-hero>div{
    display: flex;
    justify-content: center;
    margin: 15px;
    text-align: center;
}

.feature-sub p{
    color: gray;
}

.feature-card-wrapper{
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}


.feature-cards{
    width: 200px;
    height: 370px;
    padding:10px 20px 0 20px;
    background-color: white;
    transition: all .50s;
    position: relative;
}

.feature-cards:hover{
    box-shadow: 1px 1px 5px 4px skyblue;

}

.feature-cards a{
    text-decoration: none;
}

/**media query to switch card height to 100% on smaller***/
@media(max-width:429px) {
    .feature-cards{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.chat-icon img{
    width: 50px;
    height: 50px;
}

.card-title{
    font-size: 25px;
}

.arrow-icon{
    position: absolute;
    bottom: 0;

}

.arrow-icon .fa{
    font-size: 15px;
    width: 25px;
    height: 25px;
    color: white;
    background-color: skyblue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .50s;
}

.arrow-icon .fa:hover{
    box-shadow: 5px 4px 7px skyblue;

}

.inside-card-wrapper>div{
    margin: 10px;
    text-align: left;
}



/***specs section****/

#specs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.specs-grid{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 1fr; 
}

/**media query to change specs grid  to 1:2 on smaller device***/
@media(max-width:767px){
    .specs-grid{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr; 
    }
}

.specs-img img{
    width: 100%;
    height: 100%;
}


.specs-title{
    font-size: 30px;
    text-align: left;
}

.specs-content{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specs-hold>div{
    margin: 20px;
}
.specs-hero{
    line-height: 1.5;
}



.specs-btn button{
    width: 120px;
    background-color: skyblue;
    color: white;
    border: none;
    box-shadow: 4px 4px 5px skyblue;
    cursor: pointer;
    transition: all .50s;
}

.specs-btn button:hover{
    box-shadow: 6px 6px 9px skyblue;

}


/***item purchase page****/
#purchase-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}


/***media query to change grid to 1:2***/
@media(max-width:767px){
    .purchase-grid{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }
    
}

.ps5-product img{
    width: 100%;
    height: 100%;
}

.hero-wrapper>div{
    display: flex;
    justify-content: center;
    text-align: center;
}

.product-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase-title, 
.product-price{
    font-size: 25px;
    font-weight: 500;
}

.product-desc p{
    width: 70%;
}

.amazon-btn button{ 
    width: 120px;
    height: 35px;
    background-color: skyblue;
    color: white;
    border: none;
    box-shadow: 4px 4px 5px skyblue;
    cursor: pointer;
    transition: all .50s;
}

.amazon-btn button:hover{
    box-shadow: 6px 6px 9px skyblue;

}



/****subscribe section****/
#subscribe{
    width: 100%;
    height: 60vh;
    background-color: lightgray;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-wrapper{
    width: 100%;
}

.subscribe-wrapper>div{
    display: flex;
    justify-content: center;
    text-align: center;
}

.sub-title{
    font-size: 30px;
    font-weight: 200;
}

#subscribe form{
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
}

#subscribe form input{
    width: 300px;
    height: 40px;
    padding: 0 0 0 20px;
}

#subscribe form input:focus{
    outline: none;
}


.subscribe-btn{
    width: 170px;
    border: none;
    background-color: skyblue;
    color: white;
    box-shadow: 3px 3px 4px skyblue;
    cursor: pointer;
    transition: all .50s;
}


.subscribe-btn:hover{
    box-shadow: 3px 10px 10px skyblue;
}


.h-captcha{
    margin-top: 20px;
}



/****hardware****/

.hardware-container{
    width: 100%;
    position: absolute;
    top: 100px;
}

.hardware-wrapper{
    width: 100%;
    width: 100%;
    padding: 0 20px 0 20px;
}

.hardware-title{
    font-size: 30px;
    text-align: center;
}

.hardware-wrapper>div{
    margin: 20px;
}

.ps5-hardware-img{
    display: flex;
    justify-content: center;
}

@media(min-width:870px){
    .ps5-hardware-img img{
        width: 60% !important;
        height: 60% !important;
    }
}
.ps5-hardware-img img{
    width: 100%;
    height: 100%;
}


.tab-btns{
    display: flex;
    justify-content: center;
}

.tab-btns button{
    margin: 1px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    background-color: skyblue;
    color: white;
    border: none;
}

.tab-content{
    margin-top: 10px;
    width: 100%;
    box-shadow: 1px 1px 2px 2px grey ;
}

.tab-title-wrapper{
    width: 100%;
    padding: 20px 20px 0 20px;
}

.tab-title-wrapper>div{
    margin: 10px;
}

.tab-info{
    font-size: 20px;
    line-height: 1.5;
}

.active{
    display: inline-block !important;
    transition: all .50s;
        /***classlist to make tab content visible when tab btn clicked****/
}

.active-tab{
    background-color: rgb(14, 62, 81) !important;
    transition: all .50s;
    /***classlist to change tab-btn color onclick****/
}

.active-tab-content{
    display: inline-block;
}


